<nav class="main-nav">
	<div class="logo"><a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}logo.png" width="25"> TWAS <b>hub</b></a></div>
    <a class="button" href={{ site.baseurl }}about>About</a> 
    <a class="button" href={{ site.baseurl }}usage>Usage</a> 
    <a class="button" href={{ site.baseurl }}models>Models</a>
    <a class="button fill" href={{ site.baseurl }}genes><i class="fa fa-dna" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Genes</a>
    <a class="button fill" href={{ site.baseurl }}traits><i class="fa fa-list-ul" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Traits</a>
</nav>